/* fonts */
@font-face
{
  font-family: futura;
  src: url(FuturaCondensedExtraBold.otf) format('opentype');
  font-size: normal;
  font-weight: normal;
}
@font-face {
  font-family: sanFranBlack;
  src: url(SFNSDisplayCondensed-Black.otf);
}
@font-face
{
  font-family: sanFranBold;
  src: url(SanFranciscoDisplay-Bold.otf);
}
@font-face
{
  font-family: sanFran;
  src: url(SFNS.ttf)
}
@font-face
{
  font-family: sanFranMed;
  src: url(SanFranciscoDisplay-Medium.otf);
}
@font-face
{
  font-family: sanFranLight;
  src: url(SFNSDisplayCondensed-Regular.otf);
}
@font-face
{
  font-family: sanFranHeavy;
  src: url(SanFranciscoDisplay-Heavy.otf);
}

/* Generic  Classes */
body
{
  font-family: nunito-sans, sans-serif;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  overflow-x: hidden;
}
section
{
  margin-left:0;
  overflow-x:hidden;
}
section.margin
{
  margin-top: 40px;
  margin-left:0;
  overflow-x: hidden
}
@media screen and (min-width: 700px) and (orientation: landscape)
{
  section.margin
  {
    margin-top:100px;
    margin-left: 0;
    overflow-x: hidden
  }
  section.paddedL
  {
    padding-left: 80px;
    overflow-x: hidden
  }
  section.paddedR
  {
    padding-right: 80px;
    overflow-x: hidden
  }
}
div
{
  overflow-y: hidden;
  overflow-x: hidden;
}
h1
{
  font-family: montserrat, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 2.5em;
}
.blue
{
  color: #00ccff;
}
h1.banner
{
  color: black;
  font-size: 36px;
  line-height: 36px;
  margin:0;
  padding:0;
  font-style: italic;
}
h2
{
  font-family: montserrat, sans-serif;
  font-weight: 750;
  font-style: normal;
  font-size: 5.5vh;
}
h2.banner
{
  color:#414141;
  font-weight:800;
  font-style: normal;
  text-transform: uppercase;
  font-size: 36px;
}
h2.price
{
  font-style: italic;
  font-size: 30px;
}
@media screen and (max-width: 768px)
{
  h1
  {
    font-size:2.4rem;
  }
  h2
  {
    font-size: 24px;
  }
  h2.banner
  {
    font-size: 20px;
  }
}
h3
{
  color: gray;
  font-family: nunito-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  letter-spacing: .007em;
  line-height: 1.25;
}
h3.bold
{
  color: gray;
  font-family: nunito-sans, sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 2.5rem;
  font-weight: 500;
}
h3.whiteBold
{
  color: white;
  font-family: nunito-sans, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2.5rem;
  font-weight: 500;
}
strong
{
  color:black;
}
strong.blue
{
  color: #00ccff;
}
h1 strong
{
  color:#00ccff;
}
h2 strong
{
  color:#00ccff;
}
h3.white strong
{
  color: #00ccff;
}
p
{
  color: gray;
  font-family: nunito-sans, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2.1rem;
}
p strong.blue
{
  color:#00ccff;
}
p.banner
{
  font-size: 2.7rem;
  color: #939393;
  font-style: normal;
  font-weight: 600;
}
p.feature
{
  font-family: montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  font-size: 1.6rem;
}
@media screen and (max-width: 700px)
{
  p
  {
    font-size: 1.8rem;
  }
  p.banner
  {
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 600;
  }
}
p.signup
{
  font-size: 2.1;
}
p.bold
{
  font-family: nunito-sans, sans-serif;
  font-weight: 600;
  font-style: normal;
}
p.light
{
  font-weight: 200
}
a
{
  font-family: nunito-sans, sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #00ccff
}
a.strava
{
  color: #FC6100
}
a.bold
{
  font-family: nunito-sans, sans-serif;
  font-weight: 600;
  font-style: italic;
}
a.signUpButton
{
  font-size: 2.2rem;
  font-style: italic;
  font-weight: 650;
  padding-right:20px;
  padding-left: 20px;
  padding-top:8px;
  padding-bottom:8px;
  margin-bottom:10px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #3dcdea;
  border-radius:40px;
}
a.big
{
  background-color: rgba(255, 255, 255, 0.9);
}



@media screen and (max-width: 768px)
{
  h1.banner
  {
    font-size: 20px;
    line-height: 18px;
  }
  a.signUpButton
  {
    margin-top:0px;
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 650;
    padding-right:12px;
    padding-left: 12px;
    padding-top:6px;
    padding-bottom:6px;
    margin-bottom:10px;
    background-color: #efefef;
    color: #3dcdea;
    border-radius:40px;
  }
  a.big
  {
    font-size: 1.8rem;
    padding-right:16px;
    padding-left: 16px;
    padding-top:8px;
    padding-bottom:8px;
    background-color: rgba(255, 255, 255, 0.9);
  }
}

a.signUpButton:hover
{
  font-style:italic;
  background-color: rgb(1, 64, 105);
  text-decoration: none;
}
a.signUpButton:active
{
  text-decoration: none;
}
textarea 
{
	border: 1px solid lightgray;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.65;
  color: #555;
  -moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	border-radius: 4px;
	color: inherit;
	display: block;
	outline: 0;
	padding: 0 1rem;
	text-decoration: none;
  width: 100%;
  padding: 0.75rem 1rem;
  background: rgba(144, 144, 144, 0.075);
  border-color: rgba(144, 144, 144, 0.25);
  font-weight: 400;
	font-size: 20px;
	line-height: 1.65;
}
input[type="text"],
input[type="email"]
{
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 4px;
  border: 1px solid;
  color: inherit;
  display: block;
  outline: 0;
  padding: 24px 10px;
  text-decoration: none;
  height: 2.1rem;
  background: rgba(144, 144, 144, 0.1);
  border-color: rgba(144, 144, 144, 0.25);
  font-size: 20px;
  font-family: nunito-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10px;
  margin-top: 5px;
}
@media screen and (max-width: 1240px)
{
  input[type="text"],
  input[type="email"]
  {
    height: 1.6rem;
    font-size: 18px;
    padding: 22px 10px;
  }
}
input[type="text"]:focus,
input[type="email"]:focus
{
  border-color: #00ccff;
  box-shadow: 0 0 0 1px #00ccff;
}
input.fullScreen
{
  width: 100%;
}
/* Button - copied from templated css template */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    height: 4rem;
    line-height: 2.95rem;
    padding: 0 24px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    font-size: 20;
    font-family: nunito-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    min-width: 80px;
    margin-top:5px;
}

    input[type="submit"].icon,
    input[type="reset"].icon,
    input[type="button"].icon,
    button.icon,
    .button.icon {
        padding-left: 0;
    }

        input[type="submit"].icon:before,
        input[type="reset"].icon:before,
        input[type="button"].icon:before,
        button.icon:before,
        .button.icon:before {
            margin-right: 0;
        }

    input[type="submit"].fit,
    input[type="reset"].fit,
    input[type="button"].fit,
    button.fit,
    .button.fit {
        display: block;
        margin: 0 0 0 0;
        width: 100%;
    }

    input[type="submit"].small,
    input[type="reset"].small,
    input[type="button"].small,
    button.small,
    .button.small {
        font-size: 0.8rem;
    }

    input[type="submit"].big,
    input[type="reset"].big,
    input[type="button"].big,
    button.big,
    .button.big {
        font-size: 2.0rem;
        font-style: italic;
        margin-left: -10px;
        height: 48px;
    }

    @media screen and (max-width: 1240px)
    {
      
      input[type="submit"].big,
      input[type="reset"].big,
      input[type="button"].big,
      button.big,
      .button.big {
          text-align: center;
          align-content: center;
          margin-left: 0px;
          margin-bottom: 10px;
          height: 42px;
          font-size: 1.8rem;
          padding: 0 20px;
      }
    }

    @media screen and (max-width: 768px)
    {
      input[type="submit"].big,
      input[type="reset"].big,
      input[type="button"].big,
      button.big,
      .button.big {
          text-align: center;
          align-content: center;
          margin-left: 0;
          margin-bottom: 10px;
          height: 42px;
          font-size: 1.7rem;
          padding: 0 18px;
      }

      .mobileCenter
      {
        text-align: center;
        align-content: center;
      }
    }

    input[type="submit"].disabled, input[type="submit"]:disabled,
    input[type="reset"].disabled,
    input[type="reset"]:disabled,
    input[type="button"].disabled,
    input[type="button"]:disabled,
    button.disabled,
    button:disabled,
    .button.disabled,
    .button:disabled {
        -moz-pointer-events: none;
        -webkit-pointer-events: none;
        -ms-pointer-events: none;
        pointer-events: none;
        opacity: 0.25;
    }

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    background-color: rgba(144, 144, 144, 0.1);
    color: #00ccff !important;
    margin-bottom: 10px;
}

    input[type="submit"]:hover,
    input[type="reset"]:hover,
    input[type="button"]:hover,
    button:hover,
    .button:hover {
        background-color: rgb(1, 64, 105);
    }


/* Element Classes*/
.navbar-brand
{
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  font-size: 20px;
}
.navbar.transparent a.navbar-brand.gray
{
  color:#777;
}
.navbar.transparent {
  background: rgba(0,0,0,0.01);
  box-shadow: none;
  border: 0px;
}
.navbar.transparent a.navbar-brand
{
  color: whitesmoke;
}
.navbar.transparent a
{
  color: #00ccff;
}
.navbar.transparent li a
{
  color: #00ccff;
  font-style: italic;
}
.navbar.transparent li a.active
{
  color: black;
}
.navbar.transparent li a:hover
{
  color: rgb(1, 64, 105);
}
.navbar li a.active
{
  color: #00ccff;
}
li.nav-item a.signUpNav
{
  color: #00ccff;
  font-style: italic;
  font-weight: 700;
  padding:8px 16px;
  background-color: rgba(144, 144, 144, 0.1);
  border-radius: 20px;
  margin-right:16px;
  margin-top: 5px;
}


@media screen and (max-width: 767px)
{
  li.nav-item a.signUpNav
  {
    color: #00ccff;
    font-weight: 600;
    padding:0;
    background-color: none;
    border-radius: 20px;
    margin-right:0;
    margin-top: 0;
    visibility: hidden;
  }
  .navbar
  {
    visibility: hidden;
  }
  .navbar.transparent
  {
    visibility: hidden;
    height: 20px;
  }
}
li.nav-item a.signUpNav:hover
{
  color: rgb(1, 64, 105);
}
li.nav-item a.signUpNav:active
{
  color: black;
}
.navbar
{
  border-radius: 2px;
  z-index: 1000000;
}
.fixed
{
  position: fixed;
  width: 100%;
}
img.fullScreen
{
  height: auto;
  width:100%;
}
.bannerImage
{
  width:100%;
  height:550px;
  background-image: url(gRunner-1m2.jpg);
  background-repeat: repeat;
  background-size: cover;
}
@media only screen and (min-width: 500px) and (orientation: portrait)
{
  .bannerImage
  {
    background-image: url(gRunner-1m2.jpg);
    height: 75vh;
  }
}

.bannerText
{
  padding-top: 30px;
  overflow-y: visible;
}

.landingBannerImage
{
  width:100vw;
  height:600px;
  margin-top: 50px;
  background-image: url(banner3m2.jpg);
  background-repeat: repeat;
  background-size: cover;
}

@media only screen and (max-width: 330px)
{
  .bannerText
  {
    padding-top: 10px;
  }
  .landingBannerImage
  {
    background-image: url(banner3m3.jpg);
    margin-top: 70px;
    height: 500px;
  }
}

@media only screen and (min-width: 768px)
{
  .landingBannerImage
  {
    margin-top: 0px;
    width:100vw;
    height:63vh;
    background-image: url(landingBanner4.jpg);
    background-repeat: repeat;
    background-size: cover;
  }
  p.banner
  {
    font-size: 2.1rem;
  }
  .bannerText
  {
    padding-top: 100px;
  }
}

@media only screen and (min-width: 1024px)
{
  .landingBannerImage
  {
    margin:0;
    width:100vw;
    height:63vh;
    background-image: url(landingBanner3.jpg);
    background-repeat: repeat;
    background-size: cover;
  }
  p.banner
  {
    font-size: 2.1rem;
  }
  .bannerText
  {
    padding-top: 60px;
    overflow-y: hidden;
  }
}

@media only screen and (min-width: 1300px)
{
  .bannerText
  {
    padding-top: 10vh;
  }
}

@media only screen and (min-width:1367px) and (orientation: landscape)
{
  .bannerText
  {
    padding-top:15vh;
    overflow-y: visible;
  }
  .landingBannerImage
  {
    margin:0;
    width:100vw;
    height:68vh;
    background-image: url(landingBanner2.jpg);
    background-repeat: repeat;
    background-size: cover;
  }

  .fullScreen
  {
    height: 100vh;
    width: 100%
  }
  .bannerImage
  {
    height: 100vh;
    background-position: center;
    background-image: url(gRunner-18.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: scroll; 
  }
}
@media only screen and (min-width: 1025px)
{
  .bannerImage
  {
    background-attachment: fixed; 
  }
}
.openingText
{
  color: white;
  font-family: montserrat, sans-serif;
  font-weight: 800;
  font-style: italic;
  letter-spacing: .1vw;
  font-size: 10vw;
}
@media screen and (min-width: 600px)
{
  .openingText
  {
    font-size: 6.9vw;
  }
}
@media screen and (max-width: 700px)
{
  hr
  {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
.text-overlay
{
  top: 10vh;
  left: 40px;
  position: relative;
  max-width: 100%;
  width: 100%;
  -moz-transform: scale(1.0);
  -webkit-transform: scale(1.0);
  -ms-transform: scale(1.0);
  transform: scale(1.0);
  max-height: 100vh;
}
@media screen and (orientation: landscape) and (min-width: 1000px)
{
  .text-overlay
  {
    top: 25vh;
  }
}
h3.white
{
  color: white;
  z-index: 9999;
  font-style: italic;
  font-size: 2.3rem;
}
p.white
{
  color: white;
  z-index: 9999;
  font-style: italic;
  font-size: 2.1rem;
}
h2.white
{
  color: white;
  z-index: 9999;
  font-style: italic;
}
.tabbed
{
  padding-left: 20px;
}
.bannerButton
{
  /*
  margin-top: 40px;*/
  border-radius: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: lightgray;
  color: black;
  font-size: 1.8rem;
  font-family: montserrat, sans-serif;
  font-weight: 500;
  font-style: normal;
}
.bannerButton:hover
{
  background-color: white;
  color: black;
  font-style: normal;
  text-decoration: none;
}
.bannerButton:focus
{
  background-color: white;
  color: black;
  font-style: normal;
  text-decoration: none;
}
.greybox
{
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: rgba(144, 144, 144, 0.1);
  border-top: 1px solid white;
}
.wTop
{
  border-top: 1px solid lightgray;
}
.italicized
{
  font-weight: 600;
  color: black;
  font-style: italic;
}
input.emailInput
{
  margin-left:1px;
  margin-right:1px;
  padding-left: 20px;
  width: 98%;
  border-radius: 40px;
  border: none;
}
@media screen and (min-width: 600px) and (orientation: landscape)
{
  input.emailInput
  {
    width: 98%;
    border-radius: 40px;
  }
}
.racerBG
{
  width: 100%;
  background-image: url(gRunner-5m.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: auto;
  margin: 0;
  padding:0;
}

.darken
{
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  z-index: 10000;
  overflow-x: hidden;
}
.half
{
  width: 50%;
}
.racerBG2
{
  width: 100%;
  background-image: url(avatarRace.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px)
{
  .racerBG2
  {
    height: 210px;
    overflow-y: hidden;
  }
}
.racerBG4
{
  width: 100%;
  background-image: url(gRunner-38m.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 767px)
{
  .racerBG
  {
    background-attachment: fixed;
    background-image: url(gRunner-5.jpg);
  }
  .racerBG2
  {
    background-image: url(avatarRaceMobile.png); 
  }
  .racerBG4
  {
    background-image: url(gRunner-38.jpg); 
  }
}
@media screen and (min-width: 1240px)
{
  .racerBG2
  {
    background-image: url(avatarRace.jpg); 
  }
  .racerBG4
  {
    background-image: url(gRunner-38.jpg); 
  }
}
.racerBG3
{
  width: 100%;
  background-image: url(gRunner-37.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding:0;
}
.featureCard
{
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding:0;
  height: auto;
  overflow-y: hidden;
  overflow-x: hidden;
}
@media screen and (max-width:700px)
{
  .featureCard
  {
    height:180px;
  }
}
.ARImage
{
  background-image: url(videoImage1.jpg); 
}
.personalizedImage
{
  background-image: url(gRunner-38.jpg); 
}
.phoneImage
{
  background-image: url(gRunner-37.jpg); 
}
.formFactorImage
{
  background-image: url(gRunner-12.jpg);
}
.pacingImage
{
  background-image: url(videoImage3.jpg);
}
.friendsImage
{
  background-image: url(splitScreen.jpg);
}
.featureText
{
  padding-top:20vh;
  padding-bottom:15vh;
}

@media screen and (min-width: 700px)
{

}
.middle
{
  margin-top: 40vh;
}
.text-block
{
  background-color: rgba(255, 255, 255, 0.95);
  width:70%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 20px;
  padding-bottom: 40px;
  margin-left: 10px;
}
@media screen and (min-width: 980px)
{
  .text-block
  {
    padding-top: 120px;
    padding-bottom: 140px;
    padding-left:60px;
    padding-right: 60px;
    margin-left: 40px;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
}
.alternate
{
  margin-top: 80px;
  margin-bottom: 150px;
}
.bigText
{
  font-style: italic;
  font-size: 36px;
}
.biggerText
{
  font-size: 40px;
}
.hulkingText
{
  font-size: 100px;
}
.mText
{
  font-size: 36px;
}
@media screen and (min-width: 700px) and (orientation: landscape)
{
  .bigText
  {
    font-size:8vh;
  }
  .biggerText
  {
    font-size: 10vh;
  }
  .mText
  {
    font-size: 7vh;
  }
  .hulkingText
  {
    font-size: 250px;
  }
}
.phone
{
  width: 100%;
  padding:10px;
}
.stravaImage
{
  padding-top: 0px;
  padding-bottom:10px;
  width:60%;
}
@media screen and (min-width:700px)
{
  .phone
  {
    width:90%;
    padding:25px;
  }
  .stravaImage
  {
    padding-top: 20vh;
    width:80%;
  }
}
.wmargin
{
  margin-left:20px;
  overflow-x: hidden
}
.subheader
{
  width:90%;
}
.subheader2
{
  width: 90%;
}
@media screen and (min-width:700px) and (orientation: landscape)
{
  .subheader
  {
    width:40%;
  }
  .subheader2
  {
    width: 65%;
  }
}
.divider
{
  width:80%
}
.caption
{
  width: 70%;
}
.padded
{
  padding-left: 40px;
}
@media screen and (orientation: portrait)
{
  .padded
  {
    padding-left:10px;
  }
}
.black
{
  background-color: black;
}
.send-btn
{
  margin-top:10px;
}
.med
{
  font-size:1.5em;
}
.rText
{
  max-width: 90%;
  margin-left: 5%;
}
.priv
{
  font-size: 1.2em;
  font-family: nunito-sans, sans-serif;
  font-weight: 400;
  font-style: italic;
}
.allSides
{
  margin:20px;
  margin-right: 40px;
}
.allSidesPadding
{
  padding-right: 60px;
  padding-left: 60px;
}
.gridPadding
{
  padding-right:40px;
  padding-left: 40px;
}
@media screen and (min-width: 700px)
{
  .gridPadding
  {
    padding-right: 60px;
    padding-left: 60px;
  }
}
.mobilePadding
{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 0;
  padding-right: 0;
}
.alternatePadding
  {
    padding-left: 0;
    padding-right: 0;
  }
@media (min-width: 700px)
{
  .mobilePadding
  {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 21vw;
    padding-right: 21vw;
  }
  .alternatePadding
  {
    padding-left: 0;
    padding-right: 0;
  }
}
.miniMobilePadding
{
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 0;
  padding-right: 0;
}
@media screen and (min-width: 980px)
{
  .miniMobilePadding
  {
    padding-bottom: 10px;
    padding-top: 0px;
    padding-left: 5vw;
    padding-right: 5vw;
  }
}
.miniCard
{
  height: auto;
  padding: 20px;
  background: white;
  overflow-y: hidden;
  margin-bottom: 20px;
}
.centerMargin
{
  margin: 0;
}
@media screen and (min-width: 980px)
{
  .centerMargin
  {
    margin: 10px;
  }
  .miniCard
  {
    overflow-y: auto;
    height: 600px;
  }
}
.padding
{
  padding: 5px;
}
.cardIcon
{
  height: 96px;
  padding: 10px;
}
.personalizedIcon
{
  height: 120px;
  padding: 10px;
}
@media screen and (max-width:700px)
{
  .personalizedIcon
  {
    height: 100px;
    padding-top: 10px;
  }
  .mobileIconRow
  {
    padding-top:10px;
    padding-left:10px;
  }
}
.topPadding
{
  padding-top: 0;
}
@media screen and (min-width: 700px)
{
  .topPadding
  {
    padding-top:70px
  }
}
.nopadding
{
  padding:0;
  margin: 0;
}
.paddedRight
{
  padding-right: 20px;
  padding-left: 0;
}
.halfway
{
  padding-top: 0;
  text-align: left;
  overflow-y: hidden;
}
@media screen and (min-width: 1024px)
{
  .halfway
  {
    padding-top: 30vh;
    padding-right: 10px;
    text-align: left;
  }
}
h3.normal
{
  font-style: normal;
}
div.ignore
{
  overflow-y: visible;
}
.yHidden
{
  overflow-y: hidden;
}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

* {
  box-sizing: border-box;
}

#popup {
  display: none;
}

.popup__wrapper {
  background: rgba(0, 0, 0, .75);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.popup__container {
  background: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 100px auto;
  max-width: 100%;
  padding: 20px;
  width: 500px;
}

.popup__title {
  font-size: 26px;
  margin-bottom: 15px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  overflow: hidden;
  padding-top:20px;
}

.videoContent
{
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

.videoFrame
{
  margin-top: 40px;
}

@media screen and (max-width: 1200px)
{
  .videoContent
  {
    width: 80%;
  }
}

@media screen and (max-width: 700px) and (orientation: portrait)
{
  /* Modal Content/Box */
  .modal-content {
    margin-top: 15vh;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 95%; /* Could be more or less, depending on screen size */
  }
  .videoContent
  {
    background-color: #fefefe;
    margin: 20% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    width: 96%; /* Could be more or less, depending on screen size */
  }

  .videoFrame
  {
    margin-top: 40px;
    height: 180px;
  }
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.videoClose
{
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.videoClose:hover,
.videoClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

h3.nonItal
{
  font-style: normal;
}

.hiddenX
{
  overflow-x: hidden;
}
.hiddenY
{
  overflow-y: hidden;
}
.totalPadding
{
  padding-left: 5vw;
  padding-right: 5vw;
}
@media screen and (min-width: 700px)
{
  .totalPadding
  {
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 10px;
  }
}
div.signUpForm
{
  background-color: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom:20px;
  width: 960px;
  max-width: 95%;
  border-radius: 50px;
}
.bannerSubText
{
  max-width: 80%;
  overflow-y: visible;
}
@media screen and (max-width: 1240px)
{
  .bannerSubText
  {
    max-width: 100%;
    padding-right: 5px;
  }
}
@media screen and (max-width: 700px)
{
  .bannerSubText
  {
    padding-top:20px;
    padding-left:30px;
    max-width: 95%;
    overflow-y: visible;
  }
  .navbar.transparent a.navbar-brand
  {
    color: #777;
  }
}
@media screen and (min-width:700px) and (orientation:portrait)
{
  .bannerSubText
  {
    padding-left:15vw;
  }
}
@media screen and (max-width: 350px)
{
  .bannerSubText
  {
    padding-top: 40px;
  }
}
.navbar-header
{
  width:100%;
  overflow-x:hidden;
}
a.signUpNav
{
  color: #00ccff;
  font-style: italic;
  font-weight: 700;
  padding:8px 16px;
  background-color: rgba(144, 144, 144, 0.07);
  border-radius: 20px;
}
a.signUpNavM
{
  color: #00ccff;
  font-style: italic;
  font-weight: 700;
  padding:4px 12px;
  background-color: rgba(144, 144, 144, 0.07);
  border-radius: 20px;
  display: inline-block;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.16);
}
div.thankYou
{
  padding-top: 25vh;
  height: 100vh;
}
div.thankYouBox
{
  padding-top: 40px;
  padding-bottom: 60px;
}
.noMobile
{
  visibility: visible;
  display: block;
}
.onlyMobile
{
  visibility: hidden;
  height: 0;
  overflow: hidden;
  display: none;
}
@media screen and (max-width: 700px)
{
  .noMobile
  {
    visibility: hidden;
    height: 0;
    display: none;
  }
  .onlyMobile
  {
    visibility: visible;
    height: auto;
    display: block;
  }
}
.textPaddingNoTop
{
  padding-left:24px;
  padding-right: 24px;
}
.textPadding
{
  padding-top: 10px;
  padding-left: 24px;
  padding-right: 24px;
}
.textPaddingTop
{
  padding-top:30px;
}
.sticky
{
  position:fixed;
  top:0;
  width:100%;
  background: rgba(255, 255, 255, 0.95);
  z-index: 9999999;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
}
.mobileStickyHeader
{
  padding: 20px;
  color: #777
}
.halfWidth
{
  width: 5 0%;
}
.gridMarginLeft
{
  padding-left:20px;
}
.gridMarginRight
{
  padding-right:20px;
}
.gridRowPadding
{
  padding-top:10px;
  padding-bottom: 30px;
}
@media screen and (max-width: 700px)
{
  .gridRowPadding
  {
    padding-top:10px;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 1240px)
{
  h1.bannerTextPadding
  {
    padding-bottom: 20px;
  }
  p.bannerTextPadding
  {
    padding-bottom: 10px;
  }
}
.stickyText
{
  line-height: 1.8em;
  font-size: 1.1em;
  font-family: nunito-sans, sans-serif;
  font-weight: 400;
  font-style: italic;
  color:#777;
}
.hidden
{
  display: none;
}
.unhidden
{
  display: block;
}
#hiddenTextM
{
  text-align: center;
}
@media screen and (max-width: 768px)
{
  .mobileButton
  {
    font-size: 2rem;
  }
}

.noPaddingRight
{
  padding-right: 1px;
}
.noPaddingLeft
{
  padding-left: 5px;
}
.openingForm
{
  padding-top: 10px;
}
.shadow
{
  box-shadow: 0px 2px 3px rgba(0,0,0,0.16);
  margin-bottom:5px;
}

/**
 * Errors
 */
 .error {
    border-color: red;
}

.error-message {
    color: red;
    font-style: italic;
    margin-bottom: 1em;
}